<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover" >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-itunes-app" content="app-id=592031984">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="qc:admins" content="153713577776654556375" />
    <link rel="Shortcut Icon" href="//<%=domain.futu5.COMMON_FUTU5_STATIC%>/favicon.ico">
    <title><%=__('404_title')%></title>
    <meta name="keywords" content="<%=__('404_keywords')%>" />
    <meta name="description" content="<%=__('404_description')%>" />
    <!-- inject:css -->
    <style>
        .error-404-wrapper{ 
            background:url(//<%=domain.futu5.COMMON_FUTU5_STATIC%>/images/error.jpg) center top no-repeat;
            background-size: 100%;
        }
    </style>
</head>

<div class="error-404-wrapper">
    <div class="error-wrapper">
        <h1 class="title"><%=__('404_message')%></h1>
        <div class="desc">
            <p class="txt"><span>> </span><a href="//<%=domain.futu5.WWW_FUTU5%>" title="<%=__('404_title')%>"><%=__('返回网站首页')%></a></p>
        </div>
    </div>
</div>
