$CONTAINER_WIDTH:1000px;
$MEDIA_WIDTH:768px;

html,body{
    height: 100%;
    overflow: hidden;
}
body {
    font: 14px/1.5 "Microsoft Yahei","ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB",Tahoma,HELVETICA,Arial,sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-stretch: normal;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    background-color:#0A5ECC;
}
.error-404-wrapper{
    height:520px; 
    width: $CONTAINER_WIDTH; 
    margin: 120px auto 0 auto; 
    position: relative;
    .error-wrapper{ 
        position:absolute; 
        top:300px; 
        right: 0; 
        color: #fff;
        .title{
            font-size:26px; 
            font-weight:normal; 
            height:35px; 
            line-height:35px; 
            margin-bottom:20px;
        }
        .desc{
            .txt{
                height:30px; 
                line-height:30px; 
                font-size:18px;
                a{
                    color:#fff;
                    &:hover{
                        color:#CCE1FE; 
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-device-width:$MEDIA_WIDTH){
    .error-404-wrapper{
       width: 98%;
       height: 400px;
       margin-top: 10%;
       .error-wrapper{ 
            position:absolute; 
            top:120px; 
            right: 0; 
            color: #fff;
            .title{
                font-size:16px; 
                font-weight:normal; 
                height:20px; 
                line-height:20px; 
                margin-bottom:20px;
            }
            .desc{
                .txt{
                    height:16px; 
                    line-height:18px; 
                    font-size:14px;
                    a{
                        color:#fff;
                        &:hover{
                            color:#CCE1FE; 
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}